<h3>
    用户管理
    <small>Tenant Management</small>
</h3>
<div ng-controller="UserContraller as vm">
    <p>
        <button class="btn btn-info" ng-click="vm.showNewUser()"><i class="fa fa-plus"></i>创建</button>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">用户列表</div>
        <!--S-用户表-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:50px;">标识</th>
                        <th>名称</th>
                        <th>用户名</th>
                        <th style="width:150px;">创建时间</th>
                        <th style="width:100px;">状态</th>
                        <th style="width:250px;">操作</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in vm.users">
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.creationTime | date:"MM/dd/yyyy @ h:mma"}}</td>
                        <td>
                            <span class="label label-sm label-green" ng-if="user.isActive">启用</span>
                            <span class="label label-sm label-danger" ng-if="!user.isActive">停用</span>
                        </td>
                        <td>
                            <a class="label label-sm label-green" ng-click="vm.update($index)"><em class="fa fa-pencil">编辑</em></a>
                            <a class="label label-sm label-danger" ng-click="vm.delete($index)"><em class="fa fa-trash">删除</em></a>
                            <a class="label label-sm label-danger" ng-click="vm.showUserRole($index)"><em class="fa fa-trash">角色</em></a>
                            <a class="label label-sm label-danger" ng-click="vm.showUserPermission($index)"><em class="fa fa-trash">权限</em></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--E-用户表-->
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
</div>