<div>
    <div class="modal-header">
        <h3>用户权限</h3>
        <small>User Permissions</small>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div id="tree_permissions">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="vm.cancel()">退出</button>
        <button class="btn btn-success" ng-click="vm.save()">保存</button>
    </div>
</div>